html, body{
  height: 100%;
  width: 100%;
  margin:0px;
  padding: 0px;
 
}

robotics-simulator .scenecontainer {
  
  /*background-color: red;*/
 
  height: 93%;
   
}
/*

robotics-simulator .scene {    
 
  background: green;
}*/
